# Dependencies
node_modules/

# Build
dist/
*.tsbuildinfo

.env.development

# Temp & backup
*.tmp
*.temp
*.bak
*.backup

# Claude
.claude/

# Codex
.codex/





# 自定义
example/
frontend-api.md
AGENTS.md
CLOUDE.md
.prettierrc

# 自动生成的文件（不提交）
auto-imports.d.ts
components.d.ts
src/assets/